*.class

# Mobile Tools for Java (J2ME)
.mtj.tmp/

# Package Files #
*.jar
*.war
*.ear

# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*

#####
# custom settings
#####

# emacs backup files
*~

# eclipse project files
.classpath
.project
.settings/**

# local gradle repo
.gradle/**

# gradle build directory
build/**
/bin/

# allow gradle wrapper directory files
!/gradle/**
